:root {
  --bg-main: linear-gradient(hsl(273, 75%, 66%) 50%, hsl(240, 73%, 65%));
  --clr-body: hsl(240, 6%, 50%);
  --clr-heading: hsl(237, 12%, 33%);
  --clr-divider: hsl(240, 5%, 91%);
  --clr-hover: hsl(14, 88%, 65%);
  --clr-active-heading: hsl(238, 29%, 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
  background-image: var(--bg-main);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* TYPOGRAPHY */
h1 {
  color: var(--clr-heading);
  text-align: center;
  margin-bottom: 1em;
}

p {
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

.accordion-text {
  color: var(--clr-heading);
  margin-bottom: 0;
}

.panel-text {
  color: var(--clr-body);
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* LAYOUT */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 10em auto 5em;
  padding: 5em 2em;
  border-radius: 1.5em;
  background-color: #fff;
  position: relative;
}

.illustration {
  margin-bottom: 2em;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 1em 0;
  font-size: 0.85rem;
  background-color: inherit;
}

.active .accordion-text {
  color: var(--clr-active-heading);
  font-weight: 700;
}

.accordion-text:hover {
  color: var(--clr-hover);
}

.active .accordion-icon {
  transform: rotate(180deg);
}

details {
  border-bottom: 1px solid var(--clr-divider);
}

details[open] .accordion-icon {
  transform: rotate(180deg);
}

details[open] .accordion-text {
  color: var(--clr-active-heading);
  font-weight: 700;
}

summary {
  list-style: none;
}

/* @media (min-width: 600px) {
  .container {
    display: flex;
  }

  .container > div {
    width: 50%;
  }

  main {
    width: 50%;
  }
} */
